/* root thems */

/*style css title page */
title {
    text-transform: capitalize;
}

/* ------------------------------------------------------------------------------- */

/* styled all element page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
}

/* ------------------------------------------------------------------------------- */

/* style container page */
.container {
    width: 100%;
    background-color: var(--bgBody);
    color: var(--colorTxBody);
}

/* ------------------------------------------------------------------------------- */

/* style header image */
.imgHead img {
    width: 100%;
}

/*style navbar */
.listNavbar {
    width: 96%;
    height: 30px;
    align-items: center;
    position: relative;
    left: 20px;
    bottom: 37px;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: space-between;
    padding: 5px;
}

/* style list navbar */
.listNavbar>li {
    border-radius: 10px;
    padding: 5px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bolder;
}

.listNavbar>li>a {
    color: var(--colorLinkLi)
}

/* style hoverd lists navbar */
.listNavbar>li:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 253);
    transition: all 0.9s ease-in-out;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
}

/* style actived lists */
.listNavbar>li:active {
    background-color: rgb(28, 0, 80);
    color: black;
}

/* style link in list navbar */
a {
    text-decoration: none;
}


/* menu in navbar */
.menuNav {
    background-color: var(--bgMenuNav);
    width: 120px;
    text-align: right;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: hidden;
    text-wrap: wrap;
    box-shadow: 1px 1px 16px 0.6px rgba(0, 0, 0, 0.565);
}

#menuNavbarList {
    position: relative;
    top: 9px;
    right: 50px;
}

/* ------------------------------------------------------------------------------- */

/* styled list menu */
.menuNav #listMenu {
    list-style: none;
    float: right;
    padding: 8px;
    display: block;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

/* style menu color text */
#listMenu {
    color: var(--colorMenuNav)
}

/* hoverd list menu keshoiee */
.menuNav #listMenu:hover {
    background-color: var(--hoverMenuNav);
}


/* create menu keshoiee */
.listNavbar>li:hover .menuNav {
    opacity: 1;
    visibility: visible;
}

/* ------------------------------------------------------------------------------- */

/* style input */
/* style input search in section navbar header */
.iconSearch {
    /* style button with icon btn search*/
    width: 29px;
    position: relative;
    top: 2px;
}

/* style input serch navbar */
#searchNavbar {
    height: 29px;
    text-indent: 5px;
}

/* style search navbar placeholder */
#searchNavbar::placeholder {
    position: relative;
    left: 4px;
}

/* hovered input serch navbar */
#searchNavbar:hover {
    background-color: var(--hoverSearchNav);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

/* style button input serch navbar  */
.btnSearch:hover {
    background-color: var(--bgBtnHoverSearch);
    border: var(--borderBtnSearch);
    transition: all 0.9s ease-in-out;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
}

/* ------------------------------------------------------------------------------- */
/* section 2: slider and captions */
#containerSlider {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    background-color: var(--bgSlider);
}

.captionText {
    color: var(--textCaption);
    direction: rtl;
    margin: 10px;
    text-transform: capitalize;
    text-align: justify;
    line-height: 40px;
    font-weight: bold;

}

.captionText>h1 {
    color: var(--h1Caption);
}

/* ------------------------------------------------------------------------------- */
/* section3:
+create signin: when clicked on the link navbar signin
- move the user signin
*/
#signin {
    background-color: var(--bgSignin);
    width: 900px;
    height: 500px;
    position: relative;
    margin: 3% auto;
    display: flex;
    color: var(--colorTxSignin);
}

/* style image in section login and signin and image login in right */
.imgLogin {
    background: url("../images/bgLogin.jpg");
    background-size: 470px 500px;
    background-repeat: no-repeat;
    float: right;
    width: 50%;
    height: 500px;
}

/* style the container signin */
.login {
    height: 500px;
    width: 50%;
    float: left;
    background-color: transparent;
    text-align: center;
}

/* style title text and paragraf form */
.login>h1,
p {
    padding: 5px;
    margin: 5px;
    font-size: 26px;
}

/* style form  */
.login>form {
    padding: 12px;
}

/* style inputs */
.login>form>input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 0;
}

.login>form>input:hover {
    box-shadow: var(--boxshadowInputsLogin);
    background-color: var(--bgHoverInput);
    outline: 0;
    transition: all 0.9s ease-in-out;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
}

/* style button and input */
button,
input {
    outline: none;
    direction: rtl;
}

/* ------------------------------------------------------------------------------- */
/* style captcha */
/* container captcha */
.captcha-container {
    text-align: center;
    border: 0;
    padding: 20px;
    width: 100%;
    height: 200px;
    padding: 20px;
    margin: 30px;
}

/*  style captcha input */
#captchaInput {
    margin: 10px;
    border: 0;
    width: 40%;
    padding-right: 5px;
    text-align: center;
    font-size: 15px;
}

/* style message captcha show captcha */
#message {
    margin-top: 10px;
    font-size: 16px;
}

#refreshCaptcha {
    background-image: url("../images/refresh.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 2px;
    height: 40px;
    width: 30px;
    border: 0;
    position: relative;
    top: 7px;
}

/* style btn */
#verifyCaptcha {
    background-color: var(--bgBtnsCaptcha);
    color: var(--colorBtnCaptcha);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    padding: 8px 12px;
    font-size: 25px;
    cursor: pointer;
    margin: 10px;
    height: 44px;
    border: none;
    outline: 0;
    width: 60%;
    border: 0;
}

/* style when button with mouse the hover */

#verifyCaptcha:hover {
    background-color: var(--btnsHoverCaptcha);
    border: var(--btnBorderHoverCaptcha);
    color: var(--colorBtnsHoverCaptcha);
    padding: 8px 12px;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    width: 60%;
    outline: 0;
    height: 44px;
}

/* style placeholder capcha input */
#captchaInput::placeholder {
    padding-right: 5px;
}



/* style canva captcha */
#captchaCanvas {
    border: var(--borderCaptchaCanva);
    background-color: var(--captchaCanva);
    border-radius: 4px;
    width: 50%;
}

.captcha {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
}


/* ------------------------------------------------------------------------------- */
#vojohat {
    width: 98%;
    background-color: var(--bgVojohat);
    color: var(--colorVojohat);
    text-align: center;
    padding: 10px;
    margin: 20px;
    overflow: hidden;
}

/* form data signin vojohat user */
.formVojohat {
    padding: 15px;
}


/* style form */
#registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    padding: 18px;
}

#registrationForm>input {
    width: 28%;
    height: 20px;
    padding: 20px;
    margin: 6px;
    border-radius: 23px 7px 23px 7px;
    -webkit-border-radius: 23px 7px 23px 7px;
    -moz-border-radius: 23px 7px 23px 7px;
    -ms-border-radius: 23px 7px 23px 7px;
    -o-border-radius: 23px 7px 23px 7px;
    border: 0;
    outline: 0;
    box-shadow: 2px 4px 7px 2px black;
}

#registrationForm>button {
    width: 37vh;
    padding: 10px;
    border-radius: 20px 10px 30px 40px;
    -webkit-border-radius: 20px 10px 30px 40px;
    -moz-border-radius: 20px 10px 30px 40px;
    -ms-border-radius: 20px 10px 30px 40px;
    -o-border-radius: 20px 10px 30px 40px;
    margin: 20px;
    border: 0;
    box-shadow: 4px 5px 7px 2px black;
    background-color: #edd906;
}

/* style section radio button: selecte button */
/* style title gender radio button */
.lableRadio {
    margin: 10px;
}

/* style container labels gender radio button */
.containerRdioBtn {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 20px;
}

/* style  */

.gender-button {
    background-color: var(--bgRadioButton);
    border: var(--borderRadioButton);
    color: var(--colorTxtRdioBtn);
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

/* hover btn radio button */
.gender-button:hover {
    background-color: var(--bgHoverRadioButton);
    color: var(--colorTxtHoverRadioBtn);
    border: var(--borderHoverRadioBtn);

}

.gender-button.selected {
    background-color: var(--bgSelectedRadioBtn);
    color: var(--colorTxtSelectedRdioBtn);
    border-color: var(--borderSelectedRdioBtn);
}

/* ------------------------------------------------------------------------------- */
/* checkbox send post resid vojohat user */
.address-inputs {
    display: none;
    margin-top: 10px;
}

.sendPost {
    width: 99%;
    padding: 10px;
    margin-top: 30px;
}

/* style checkbox */
#toggleCheckbox {
    direction: rtl;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    position: relative;
    left: 120px;
}

/* style inputs checkbox */
#addressInputs {
    width: 99%;
    padding: 17px;
}

#addressInputs>input {
    width: 40%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px 20px 10px 20px;
    -webkit-border-radius: 10px 20px 10px 20px;
    -moz-border-radius: 10px 20px 10px 20px;
    -ms-border-radius: 10px 20px 10px 20px;
    -o-border-radius: 10px 20px 10px 20px;
    border: 0;
    outline: 0;
    box-shadow: 2px 5px 10px 1px black;
}

/* style button form checkbox for send data user the post */
#submitButton {
    box-shadow: var(--boxShadowSubmitBtn);
    border-radius: 30px 10px 30px 10px;
    -webkit-border-radius: 30px 10px 30px 10px;
    -moz-border-radius: 30px 10px 30px 10px;
    -ms-border-radius: 30px 10px 30px 10px;
    -o-border-radius: 30px 10px 30px 10px;
    color: var(--colorSubmitButton);
    background-color: var(--bgSubmitButton);
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    margin: 16px;
    outline: 0;
    width: 20%;
    border: 0;
}

/* style hr line */
.lineLeft {
    position: relative;
    float: left;
    width: 46%;
    top: 10px;

}

/* style line rigth */
.lineRigth {
    position: relative;
    float: right;
    width: 46%;
    top: 10px;
}

/* ----------------------------------------------------------------------------- */
/* select Otions vojohat */
/* container options vojohar */
.optionsVojohat {
    width: 50%;
    background-color: #edd906;
    position: relative;
    left: 29%;
    padding: 20px;
    margin: 10px;
}

.addOptions {
    background-color: #710bd7;
    padding: 20px;

}

/* button add new button for add options */

#addNewButton {
    background-color: rgb(235, 255, 206);
    width: 70%;
    height: 30px;
    border-radius: 20px 12px 20px 12px;
    -webkit-border-radius: 20px 12px 20px 12px;
    -moz-border-radius: 20px 12px 20px 12px;
    -ms-border-radius: 20px 12px 20px 12px;
    -o-border-radius: 20px 12px 20px 12px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.594);
    font-weight: bold;
    font-size: 14px;
    transition: all 0.9s ease-in-out;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
}

/* add new button hover */
#addNewButton:hover {
    background: transparent;
    color: rgb(149, 243, 255);
    font-weight: bold;
    font-size: 17px;
    border: 1px solid rgba(162, 255, 182, 0.514);
}

/* container seslect options */
#newEntryDiv {
    background-color: aqua;
    width: 100%;
    height: 60px;
    padding: 20px;
    position: relative;
    top: 10px;
}

/* style for hide container options */
.hidden {
    display: none;
}
/* option select btn */
#optionsSelect {
    border-radius: 3px 10px 3px 10px;
    -webkit-border-radius: 3px 10px 3px 10px;
    -moz-border-radius: 3px 10px 3px 10px;
    -ms-border-radius: 3px 10px 3px 10px;
    -o-border-radius: 3px 10px 3px 10px;
    box-shadow: 3px 4px 5px black;
    height: 30px;
    outline: 0;
    width: 54%;
    border: 0;
}
/*-------------------------------------------------------------------------------*/
:root {
    /* color */
    /* .......... body .......... */
    --bgBody: rgb(246, 240, 255);
    --colorTxBody: black;
    /* .......... navbar .......... */
    --borderBtnSearch: 2px solid rgb(255, 217, 0);
    --hoverMenuNav: rgba(81, 81, 255, 0.273);
    --hoverSearchNav: rgb(221, 196, 255);
    --bgBtnHoverSearch: rgb(255, 217, 0);
    --colorLinkLi: rgb(255, 255, 255);
    --colorMenuNav: black;
    --bgMenuNav: white;
    /* .......... slider and captions .......... */
    --bgSlider: rgb(12, 0, 117);
    --textCaption: white;
    --h1Caption: rgb(238, 255, 4);
    /* .......... signin .......... */
    --borderBtnRefresh: 1px solid rgb(190, 121, 255);
    --boxshadowInputsLogin: 1px 5px 3px 2px #000000;
    --borderBtnSignin: 1px solid rgb(192, 125, 255);
    --colorTxSignin: rgb(235, 247, 10);
    --bgHoverInput: rgb(255, 247, 0);
    --btnSignin: rgb(157, 125, 255);
    --bgSignin: rgb(46, 0, 95);
    --bgBtnRefresh: transparent;
    --colorbtnSignin: black;
    --colorBtnForm: black;
    /* .......... captcha .......... */
    --btnsHoverCaptcha: transparent;
    --btnBorderHoverCaptcha: 2px solid rgb(233, 210, 3);
    --borderCaptchaCanva: 1px solid white;
    --bgBtnsCaptcha: rgb(249, 161, 19);
    --colorBtnCaptcha: black;
    --captchaCanva: #eee;
    --colorBtnsHoverCaptcha: white;
    /* .......... vojohat .......... */
    --bgVojohat: #0c0075;
    --colorVojohat: white;
    /* .......... radio button .......... */
    --borderRadioButton: 1px solid #ccc;
    --bgRadioButton: #f0f0f0;
    --bgHoverRadioButton: #710bd7;
    --colorTxtHoverRadioBtn: rgb(255, 255, 255);
    --borderHoverRadioBtn: 2px solid #710bd7;
    --bgSelectedRadioBtn: rgb(154, 161, 255);
    --borderSelectedRdioBtn: 1px solid rgb(154, 161, 255);
    --colorTxtRdioBtn: rgb(35, 0, 95);
    --colorTxtSelectedRdioBtn: rgb(35, 0, 95);

    /*  */
    --colorSubmitButton: rgb(255, 255, 255);
    --bgSubmitButton: rgb(220, 198, 3);
    --boxShadowSubmitBtn: 2px 5px 10px 1px rgb(0, 0, 0);

}