/* root thems */
:root {
    /* color */
    --bgBody: rgb(246, 240, 255);
    --colorTxBody: black;
    --colorLinkLi: rgb(255, 255, 255);
    --bgMenuNav: white;
    --hoverMenuNav: rgba(81, 81, 255, 0.273);
    --colorMenuNav: black;
    --hoverSearchNav: rgb(221, 196, 255);
    --bgBtnHoverSearch: rgb(255, 217, 0);
    --borderBtnSearch: 2px solid rgb(255, 217, 0);
    --bgSlider: rgb(12, 0, 117);
    --textCaption: white;
    --h1Caption: rgb(238, 255, 4);
    --bgSignin: rgb(46, 0, 95);
    --colorTxSignin: rgb(235, 247, 10);
    --btnSignin:rgb(157, 125, 255);
    --colorbtnSignin:black;
    --borderBtnSignin: 1px solid rgb(192, 125, 255);
    --bgBtnRefresh:rgb(255, 255, 255);
    --borderBtnRefresh: 1px solid rgb(190, 121, 255);
    --bgBoxCaptcha:rgb(181, 202, 255);
    --bgBoxTextCaptcha: rgb(181, 202, 255);;
}

/*style css title page */
title {
    text-transform: capitalize;
}

/* ------------------------------------------------------------------------------- */

/* styled all element page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
}

/* ------------------------------------------------------------------------------- */

/* style container page */
.container {
    width: 100%;
    background-color: var(--bgBody);
    color: var(--colorTxBody);
}

/* ------------------------------------------------------------------------------- */

/* style header image */
.imgHead img {
    width: 100%;
}

/*style navbar */
.listNavbar {
    width: 96%;
    height: 30px;
    align-items: center;
    position: relative;
    left: 20px;
    bottom: 37px;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: space-between;
    padding: 5px;
}

/* style list navbar */
.listNavbar>li {
    border-radius: 10px;
    padding: 5px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bolder;
}

.listNavbar>li>a {
    color: var(--colorLinkLi)
}

/* style hoverd lists navbar */
.listNavbar>li:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 253);
    transition: all 0.9s ease-in-out;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
}

/* style actived lists */
.listNavbar>li:active {
    background-color: rgb(28, 0, 80);
    color: black;
}


/* style link in list navbar */
a {

    text-decoration: none;
}


/* menu in navbar */
.menuNav {
    background-color: var(--bgMenuNav);
    width: 120px;
    text-align: right;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: hidden;
    text-wrap: wrap;
    box-shadow: 1px 1px 16px 0.6px rgba(0, 0, 0, 0.565);
}

#menuNavbarList {
    position: relative;
    top: 9px;
    right: 50px;
}

/* ------------------------------------------------------------------------------- */

/* styled list menu */
.menuNav #listMenu {
    list-style: none;
    float: right;
    padding: 8px;
    display: block;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

/* style menu color text */
#listMenu {
    color: var(--colorMenuNav)
}

/* hoverd list menu keshoiee */
.menuNav #listMenu:hover {
    background-color: var(--hoverMenuNav);
}


/* create menu keshoiee */
.listNavbar>li:hover .menuNav {
    opacity: 1;
    visibility: visible;
}

/* ------------------------------------------------------------------------------- */

/* style input */
/* style input search in section navbar header */
.iconSearch {
    /* style button with icon btn search*/
    width: 29px;
    position: relative;
    top: 2px;
}

/* style input serch navbar */
#searchNavbar {
    height: 29px;
    text-indent: 5px;
}

/* style search navbar placeholder */
#searchNavbar::placeholder {
    position: relative;
    left: 4px;
}

/* hovered input serch navbar */
#searchNavbar:hover {
    background-color: var(--hoverSearchNav);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

/* style button input serch navbar  */
.btnSearch:hover {
    background-color: var(--bgBtnHoverSearch);
    border: var(--borderBtnSearch);
    transition: all 0.9s ease-in-out;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
}

/* ------------------------------------------------------------------------------- */
/* section 2: slider and captions */
.containerSlider {
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: var(--bgSlider);
}

.captionText {
    color: var(--textCaption);
    direction: rtl;
    margin: 10px;
    text-transform: capitalize;
    text-align: justify;
    line-height: 40px;
    font-weight: bold;
}

.captionText>h1 {
    color: var(--h1Caption);
}

/* ------------------------------------------------------------------------------- */
/* section3:
        +create signin: when clicked on the link navbar signin
        - move the user signin
*/
#signin {
    background-color: var(--bgSignin);
    width: 700px;
    position: relative;
    margin: 3% auto;
    padding: 5px;
    display: flex;
    color: var(--colorTxSignin);
}

/* style image in section login and signin and image login in right */
.imgLogin {
    background: url("../images/bgLogin.jpg");
    background-size: 370px;
    background-repeat: no-repeat;
    float: right;
    width: 50%;
}

/* style the container signin */
.login {
    width: 50%;
    float: left;
    background-color: transparent;
    text-align: center;
}

/* style title text and paragraf form */
.login>h1,
p {
    padding: 5px;
    margin: 5px;
}

/* style form  */
.login>form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style inputs */
.login>form>input {
    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 30px;
    outline: none;
}

/* style button and input */
button,
input {
    outline: none;
}

/* ------------------------------------------------------------------------------- */
/* style captcha */
#captchaBackground {
    position: relative;
    top: -146px;
    width: 100%;
    height: 70px;
}

/* style button submit */
#submitButton {
    width: 85%;
    position: relative;
    height: 30px;
    top: 115px;
    left: 5px;
    background-color:var(--btnSignin);
    color: var(--colorbtnSignin);
    border:var(--borderBtnSignin)
}

/* style button refresh */
#refreshButton {
    background: url("../images/refresh.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: var(--bgBtnRefresh);
    border:var(--borderBtnRefresh);
    width: 30px;
    position: relative;
    height: 26px;
    top: 117px;
}

/* style all buttons */
#buttons {
    margin: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* style container show captcha */
#captcha {
    width: 40%;
    height: 30px;
    background-color:var(--bgBoxCaptcha);
    display: grid;
    position: relative;
    top: 150px;
    left: 20px;
}

/* style container boxx text for type captcha */
#textBox {
    width: 50%;
    height: 30px;
    background-color: var(--bgBoxTextCaptcha);
    display: grid;
    position: relative;
    top: 120px;
    left: 160px;
    outline: 0;
    border: 1px solid yellow;
}

/* ------------------------------------------------------------------------------- */